body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
      padding-top: 56px;
  }
}

.loader-60devs .loader-60devs-progress {
  background: red;
  margin-top: 56px;
  padding-top: 3px;
}